---
[//]: # (Copyright IBM Corp. 2016  All Rights Reserved.)
---
@charset "utf-8";

$container-width: 90%;
$spacing-unit: 26px;


body, h1, h2, h3, h4, h5, h6,
p, pre, hr, dl, dd, ol, ul  {
    margin: 0;
}


body {
    font: normal 16px/1.5  Helvetica, Arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}


h1, h2, h3, h4, h5, h6,
p, pre, ul, ol, dl {
  margin-bottom: 15px;
  font-weight: normal;
}


img {
  vertical-align: middle;
  transition-duration: 0.5s;
  max-width: $container-width;
}


a {
  text-decoration: none;

  &:visited {
    color: #145ba0;
  }

  &:hover {
    color: #2aaafe;
    text-decoration: underline;
  }
}


pre, code {
  font-size: 15px;
  border: 1px solid #e7e7e7;
  border-radius: 3px;
  background-color: #eee;
  overflow-x: scroll;
}


.container {
  margin-right: auto;
  margin-left: auto;
  max-width: $container-width;
}


.site-header {
  border-top: 5px solid #414141;
  border-bottom: 1px solid #e7e7e7;
  min-height: 58px;

  position: relative;
}

.site-title {
  font-size: 30px;
  line-height: 58px;
  float: left;
}


.page-content {
  padding: $spacing-unit 0;
}


.tutorial-list {
  list-style: none;
}

.tutorial-link {
  font-size: 20px;
}
