---
[//]: # (Copyright IBM Corp. 2016  All Rights Reserved.)
layout: default
---
<div>
  <h2> DRAFT</h2>
  <p><em>This version of the Tutorials for Verse Extension is a draft and is subject to change without notice.</em></p>
</div>

<div>
  <h2> <a href="{{ "/tutorials/ext-intro.html" | prepend: site.baseurl }}">{{ "Introducing Verse extensions" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/ext-manifest.html" | prepend: site.baseurl }}">{{ "Working with the manifest file" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/ext-send-data-to-app.html" | prepend: site.baseurl }}">{{ "Sending data to a web application" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/ext-widget-reg.html" | prepend: site.baseurl }}">{{ "Registering extensions in Verse" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/ext-install-toolkit.html" | prepend: site.baseurl }}">{{ "Installing the Verse Developer Chrome Extension" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/ext-action-contribution.html" | prepend: site.baseurl }}">{{ "Developing action contributions" }}</a> </h2>
  <ul class="tutorial-list">
    {% for page in site.tutorials %}
      {% if page.categories contains "tutorial_action_ext" %}
        <li>
          <h2> <a class="tutorial-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>
<div>
  &copy; Copyright IBM Corporation, 2016.
</div>
