---
[//]: # (Copyright IBM Corp. 2016  All Rights Reserved.)
layout: default
---
<div>
  <h2> <a href="{{ "/tutorials/tutorial-ext-intro.html" | prepend: site.baseurl }}">{{ "Introduction of Verse Extension" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/tutorial-ext-manifest.html" | prepend: site.baseurl }}">{{ "The manifest file" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/tutorial-ext-send-data-to-app.html" | prepend: site.baseurl }}">{{ "How to send data to a web application" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/tutorial-ext-widget-reg.html" | prepend: site.baseurl }}">{{ "How to register widgets to Verse" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/tutorial-ext-install-toolkit.html" | prepend: site.baseurl }}">{{ "Install Verse Developer Chrome Extension" }}</a> </h2>
  <h2> <a href="{{ "/tutorials/tutorial-ext-action-contribution.html" | prepend: site.baseurl }}">{{ "Action Contributions" }}</a> </h2>
  <ul class="tutorial-list">
    {% for page in site.tutorials %}
      {% if page.categories contains "tutorial_action_ext" %}
        <li>
          <h2> <a class="tutorial-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a> </h2>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

</div>