<meta charset="utf-8">
<title>HCL Verse Developers</title>
<meta name="description" content="Verse provides you with a set of extension points. These points, in the user interface, allow you to add capabilities and extend Verse to further meet your business needs.">
<meta name="keywords" content="hcl,ibm,verse,platform,developer,developer experience,social,api">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link href="{{ site.url }}{{ site.baseurl }}/assets/css/bootstrap.css" rel="stylesheet" />
<link href="{{ site.url }}{{ site.baseurl }}/assets/css/main.css" rel="stylesheet" />
<meta http-equiv="cleartype" content="on">
<link rel="shortcut icon" href="//www.hcl.com/sites/all/themes/hcl/favicon.ico" />