---
layout: default
---
<article>

  <!-- header class="tutorial-header">
    <h2> <a href="{{site.baseurl}}/tutorials/tutorial-ext-intro.html">Introduction of Verse Extension</a> </h2>
    <h2> <a href="{{site.baseurl}}/tutorials/tutorial-ext-manifest.html">The manifest file</a> </h2>
    <h2> <a href="{{site.baseurl}}/tutorials/tutorial-ext-send-data-to-app.html">How to send data to a web application</a> </h2>
    <h2> <a href="{{site.baseurl}}/tutorials/tutorial-ext-widget-reg.html">How to register Widget Registry to Verse</a> </h2>
    <h2> <a href="{{site.baseurl}}/tutorials/tutorial-ext-install-toolkit.html">Install Widget Registry Toolkit</a> </h2>
    <h2> <a href="{{site.baseurl}}/tutorials/tutorial-ext-action-contribution.html">Action Contributions</a> </h2>
  </header -->

  <div class="tutorial-content">
    {{ content }}
  </div>

</article>
